<%- include('templates/header'); -%>

	<h1>Welcome to the Solar System Site!</h1>	
	<br>
	<img class="img-thumbnail home" src="img/solar_system.webp" alt="The solar system" >

<%- include('templates/footer'); -%>
