<%- include('templates/header'); -%>

	<h1>The Venus Site!</h1>
	<br>
	<dir>
		Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the second-brightest natural object in the night sky after the Moon, Venus can cast shadows and, rarely, is visible to the naked eye in broad daylight.
	</dir>

	<br>
	<img class="img-thumbnail venus" src="img/venus.jpg" alt="venus">

<%- include('templates/footer'); -%>
